/* Stylesheet by */

html,
body,
#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 62px;
}

.controlHeader {
    font-weight: bold;
    margin-bottom: .2em;

}

#sidebar {
    display: block;
    width: 230px;
    height: 100%;
    max-width: 100%;
    float: left;
/*    margin-top: 1%;*/
    background-color: #343a40;
    
}

#mapid {
    width: auto;
    height: 100%;
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}

#features {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#reviewtrails {
    margin: 0px;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar-hide-btn {
    margin-top: -2px;
}

a#filter-btn {
    color: lightblue;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;

}

a#review-btn {
    color: lightcoral;
    font-weight: 400;
    text-shadow: 2px 2px 4px #000000;

}

.white {
    color: darkcyan;
}

.card-header {
    width: 250px;
    height: 50px;
}
.card-title{
    font-size: 20px;
}

.card-body {
    width: 250px;
}

.feature-row {
    cursor: pointer;
    width: 250px;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    padding-bottom: 75px;
}

.leaflet-popup-content-wrapper {
    background:lightblue;
    color:darkcyan;
    font-size:12px;
    line-height:10px;
    border-radius: 10px;
    box-shadow: 10px 15px 30px aliceblue;
}

.leaflet-control-layers-expanded {
    overflow: auto;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"],
input[type="checkbox"] {
    margin: 2px;
}


.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: darkcyan;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

#reviewSection{
    background-color: aliceblue;
}

#filterSection{
    background-color: floralwhite;
}

.trailform {
    width: 170px;
}

.fn_placeholder{
   width: 170px; 
}

.ln_placeholder{
    width: 170px;  
}
.date_placeholder{
    width: 170px;  

}
.review_placeholder{
   width: 170px; 
}
.trail-filter {
    margin-bottom: 0px;
}

#trailFiltOutput {
    padding-bottom: 15px;
    padding-left: 20px;
}

#searchbar{
    padding-left: 4000px;
}
.leaflet-control-zoomhome a {
    font-size: 13pt;
}

.navbar-header .navbar-icon-container {
    margin-right: 15px;
}

.navbar-icon-container .navbar-icon {
    line-height: 40px;
    height: 40px;
}

.navbar-icon-container a.navbar-icon {
    margin-left: 25px;
}


.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

#reviewSubmitBtn {
    border-radius: 4px;
    background-color: darkcyan;
    color: ghostwhite;
}

#querySubmitBtn {
    border-radius: 4px;
    background-color: darkcyan;
    color: ghostwhite;
}

.trails{
    box-shadow: 10px 20px 30px blue;
}

#query-trails-reset {
    margin-left: 20px;
}

/*Legend specific*/
.legend {
  padding: 10px 8px;
    padding-bottom: 15px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  line-height: 24px;
  color: #555;
    position: static;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position:relative;
  bottom: 3px;
    margin-bottom: 30px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}
